<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Mapa</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="mapId" style="height:500px"></div>
	<ion-item style="cursor: pointer">
	</ion-item>
	<ion-item>
	  <ion-label position="stacked">Avenida España, 1 - Ubrique (11600)</ion-label>
	</ion-item>

  </ion-content>

  <ion-footer>
	<ion-toolbar>
	  <ion-buttons>
		<ion-button (click)="goBack()" class="button-footer">
		  <ion-icon name="home"></ion-icon>
		  <label class="texto-boton">Inicio</label>
		</ion-button>
		<ion-button disabled (click)="navigateToMapa()" class="button-footer">
		  <ion-icon name="map"></ion-icon>
		  <label class="texto-boton">Mapa</label>
		</ion-button>
		<ion-button (click)="navigateToInfo()" class="button-footer">
		  <ion-icon name="information-circle-outline"></ion-icon>
		  <label class="texto-boton">Acerda de</label>
		</ion-button>
  
	  </ion-buttons>
	</ion-toolbar>
  </ion-footer>
