<ion-header>
	<ion-toolbar>
		<ion-title>actividad</ion-title>
		<ion-buttons slot="start">
			<ion-button *ngIf="id == 'new'" (click)="presentAlertConfirmInsertar()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
			<ion-button *ngIf="id != 'new'" (click)="presentAlertConfirmModificar()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- <ion-button (click)="clicBotonBorrar()"><ion-icon name="trash"></ion-icon></ion-button> -->
			<ion-button (click)="presentAlertConfirmBorrar()"><ion-icon name="trash"></ion-icon></ion-button>
			
			
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	
	<div class="">
		<ion-text hidden color="medium"> Id: {{id}} </ion-text>
		<ion-item>
			<ion-label  position="floating">Nombre</ion-label>
			<ion-input required [(ngModel)]="document.data.nombre"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">Fecha</ion-label>
			<ion-datetime required [(ngModel)]="document.data.fechaHora"
				displayFormat="DD/MM HH:mm"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">Ponente</ion-label>
			<ion-input required [(ngModel)]="document.data.ponente"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">Aforo</ion-label>
			<ion-input type="number" required [(ngModel)]="document.data.aforo">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">Direccion</ion-label>
			<ion-input required [(ngModel)]="document.data.direccion">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">Localizacion</ion-label>
			<ion-input required [(ngModel)]="document.data.localizacion">
			</ion-input>
		</ion-item>
 		<ion-item>
			<ion-label position="floating">Tipo</ion-label>
			<ion-select required [(ngModel)]="document.data.tipo">
				<ion-select-option value="charla">Charla</ion-select-option>
				<ion-select-option value="taller">Taller</ion-select-option>
				<ion-select-option value="seminario">Seminario</ion-select-option>
				<ion-select-option value="curso">Curso</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item hidden>
			<ion-label  position="floating">Foto</ion-label>
			<ion-input required [(ngModel)]="document.data.foto"></ion-input>
		</ion-item>
	</div>
</ion-content>