ion-header > ion-toolbar{
    --ion-background-color:#54628F;
    color: #FB9426;
}

.button-footer{
    margin: auto;
}

@media (orientation: landscape){
    .texto-boton{
        display: none;
    }
}