<ion-header>
  <ion-toolbar>
    <ion-title>
      EABE 2020
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


<ion-list>
    <ion-list-header>
        Actividades:
      </ion-list-header>

      <ion-item  *ngFor="let documentActividad of arrayColeccionActividades" (click)="navigateToActividad(documentActividad.id)">
        <ion-avatar slot="start">
          <img src="{{documentActividad.data.foto}}">
        </ion-avatar>
        <ion-label>
          <h2>{{documentActividad.data.nombre}}</h2>
          <h3>{{documentActividad.data.ponente}}</h3>
          <p>Aforo: {{documentActividad.data.aforo}}</p>
          <p>{{documentActividad.data.fechaHora}}</p>
          <p>Dirección: {{documentActividad.data.direccion}} ({{documentActividad.data.localizacion}})</p>

        </ion-label>
      </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="navigateToActividad('new')" color="primary">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



</ion-content>
