<ion-header>
  <ion-toolbar>
    <ion-title>
      EABE 2020
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


<ion-list>
    <ion-list-header>
        Actividades
      </ion-list-header>

      <ion-item  *ngFor="let documentActividad of arrayColeccionActividades" (click)="navigateToActividad(documentActividad.id)">
        <ion-avatar slot="start">
          <img src="{{documentActividad.data.foto}}">
        </ion-avatar>
        <ion-label>
          <h2>{{documentActividad.data.fechaHora}} - {{documentActividad.data.nombre}}</h2>
          <h3>{{documentActividad.data.ponente}}</h3>
          <p>Aforo: {{documentActividad.data.aforo}}</p>
          <p>Dirección: {{documentActividad.data.direccion}} ({{documentActividad.data.localizacion}})</p>

        </ion-label>
      </ion-item>
  <!-- <ion-item *ngFor="let documentActividad of arrayColeccionActividades" (click)="navigateToActividad(documentActividad.id)">
    <ion-grid>
      <ion-row>
        <h2>{{documentActividad.data.nombre}}</h2>
      </ion-row>
      <ion-row>
        <p>Ponente: {{documentActividad.data.ponente}}</p>
      </ion-row>
      <ion-row>
        <p>Aforo: {{documentActividad.data.aforo}}</p>
      </ion-row>
      <ion-row>
        <p>Fecha: {{documentActividad.data.fechaHora}}</p>
      </ion-row>
      <ion-row>
        <p>Dirección: {{documentActividad.data.direccion}}</p>
      </ion-row>
      <ion-row>
        <p>Localización {{documentActividad.data.localizacion}}</p>
      </ion-row>
      <ion-row>
        <p>Foto: {{documentActividad.data.foto}}</p>
      </ion-row>
    </ion-grid>
  </ion-item> -->
</ion-list>

</ion-content>
